*{
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.mainInnerDiv{
    background-color: #FDFDFF !important;
    padding: 20px 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #dcdee5;
}

.pageHeaderOuterDiv{
    background-color: #FDFDFF !important;
    box-shadow: 10px 10px 10px #dcdee5;
    color: #6C757D;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
}

.headerUserDiv{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
    color: #6C757D;
    font-size: 0.75rem;
}

.headerUserDiv:hover{
    border: 1px solid #6C757D;
    
}

.statusBadge1{
    display: inline-block;
    padding: 0.35em 0.85em;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    color: #22bb33;
    border: 1px solid #22bb33;
    background-color: #caf8d2;
}

.statusBadge2{
    display: inline-block;
    padding: 0.35em 0.85em;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    color: #df3639;
    border: 1px solid #df3639;
    background-color: #efcdc4;
}

.statusBadge4{
    display: inline-block;
    padding: 0.35em 0.85em;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    color: #076aff;
    border: 1px solid #076aff;
    background-color: #b3dbf2;
}

.statusBadge3{
    display: inline-block;
    padding: 0.35em 0.85em;
    font-size: 0.65em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    color: #ff9c07;
    border: 1px solid #ff9c07;
    background-color: #f2dbb3;
}

.userIcon{
    background-color: #eff1f8;
    padding: 8px;
    border-radius: 50%;
}

.statusbadge{
    display: inline-block;
    padding: 0.35em 0.85em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
}

#loadingScreen, #dattableDiv{
    min-height: 35vh;
}


/* INVENTORY MOVEMENT */
.containerStyle{
    background-color: #FDFDFF !important;
    box-shadow: 10px 10px 10px #d3d5de;
    color: #212529;
    padding: 10px 0;
    margin: 5px auto 5px auto;
    border-radius: 5px;
}

.iconDiv{
    margin-top: 10px;
}

.stockIn .iconDiv span{
    font-size: 1.5rem;
    color: #22bb33;
    background-color: #caf8d2;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.stockOut .iconDiv span{
    font-size: 1.5rem;
    color: #df3639;
    background-color: #efcdc4;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.availableStock .iconDiv span{
    font-size: 1.5rem;
    color: #076aff;
    background-color: #b3dbf2;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.totalProfit .iconDiv span{
    font-size: 1.5rem;
    color: #087878;
    background-color: #8acece;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.totalAdj .iconDiv span{
    font-size: 1.5rem;
    color: #076aff;
    background-color: #a8c3eb;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.stockDetails .iconDiv span{
    font-size: 1.5rem;
    color: #eff1f8;
    background-color: #33336F;
    border-radius: 20%;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
}

.stockDetails{
    overflow: auto;
}

.canvasDiv{
    height: 100px;
    overflow: auto;
}

#myChart {
    width: 100%;
    height: 100px; 
}

.contentTitle{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 0.4rem;
    white-space: nowrap;
}

.contentValue{
    font-weight: 900;
    font-size: 0.7rem;
    margin-bottom: 0;
    white-space: nowrap;
}

.contentProdDets tbody tr{
    font-size: 0.6rem;
}

.contentProdDets tbody tr td,
.contentProdDets tbody tr th{
    padding: 8px 0 0 8px !important;

}

.VSLabel{
    margin-bottom: -8px;
    margin-left: 10px;
    font-size: 10px;
    color: #636363;
}

.VSSelect .vscomp-toggle-button{
    background-color: transparent;
    border-left: 1.5px solid #33336F;
    border-right: 1.5px solid #33336F;
    border-bottom: 1.5px solid #33336F;
    border-top: none;
    border-radius: 10px;
}


.whMoverangeDiv{
    margin-top: -2px;
}

.whMoverangeDiv label{
    margin-bottom: -8px;
    margin-left: 10px;
    font-size: 10px;
    color: #636363;
}

.whMoverangeDiv #reportrange{
    background-color: transparent;
    border-left: 1.5px solid #33336F;
    border-right: 1.5px solid #33336F;
    border-bottom: 1.5px solid #33336F;
    border-top: none;
    border-radius: 10px;
    padding: 10px 15px 8px 15px;
    margin-top: -8.5px;
}

.whMoverangeDiv{
    margin-left: 5px;
    font-size: 11px;
}

.rmvBorder table tbody tr{
    border-bottom: 0.1px solid #eff4ff;
}

.customVS-height{ 
    height: 35px;
}

#filterPOVS .vscomp-option {
  font-size: 12px !important;
}

#modalFields{
    font-size: 0.9em;
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .containerStyle div{
        flex-direction: column !important;
    }
    .contentDiv{
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px){
    .filteringOptionDiv div{
        flex-direction: column;
    }

    .warhouse_VS_Div{
        margin: 0 !important;
    }
}